/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-title {
  font-size: 24px;
  margin: 0;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.header-link:hover {
  text-decoration: underline;
}

/* Home Section Styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Ensure the container takes the full height of the body */
}

.home {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0 0 20px 0; /* Add some margin to space out elements */
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 0;
  border: 3px solid #333;
}

.resume-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.resume-button:hover {
  background-color: #0056b3;
}

/* About Section Styles */
#about {
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 5px solid #00796b;
}

#about h2, #about h3, #about h4 {
  color: #333333;
  text-align: center;
}

#about p {
  color: #555555;
  line-height: 1.6;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skill-box {
  padding: 16px;
  width: 250px;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: center;
  transition: transform 0.3s;
  box-sizing: border-box;
}

.skill-box:hover {
  transform: scale(1.05);
}

.skill-box h6 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #00796b;
}

.skill-box p {
  margin: 0;
  color: #757575;
}

/* Certificate Link Styles */
.certificate-link {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.certificate-link.accenture {
  color: #e91e63;
}

.certificate-link.diploma {
  color: #3f51b5;
}

.certificate-link:hover {
  text-decoration: underline;
}

/* Contact Section Styles */
#contact {
  padding: 50px 0;
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
  color: #333333;
}

.contact-links {
  margin-top: 20px;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-size: 18px;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-icon {
  margin-right: 8px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

/* Experience Section Styles */
#experience {
  padding: 50px 20px;
}

.experience-container {
  max-width: 800px;
  margin: 0 auto;
}

.experience-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.experience-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.experience-item:last-child {
  border-bottom: none;
}

.experience-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.experience-company {
  font-size: 16px;
  font-style: italic;
  color: #555;
}

.experience-date {
  font-size: 14px;
  color: #777;
}

.experience-description {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

.experience-achievements {
  margin-top: 10px;
  font-style: italic;
}

.experience-role {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Projects Section Styles */
.projects-container {
  padding: 50px 20px;
}

.projects-title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  font-size: 24px;
  margin: 0;
}

.project-subtitle {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.project-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  background-color: #0056b3;
}
